
@{
    ViewData["Title"] = "Consulta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h5>Relatório de Contas</h5>
<hr />

<a href="/Conta/GerarRelatorioExcel"
   class="btn btn-success btn-sm">
    Gerar Relatório de Contas em EXCEL
</a>

<a href="/Conta/GerarRelatorioPDF"
   class="btn btn-primary btn-sm">
    Gerar Relatório de Contas em PDF
</a>

